<?xml version='1.0' encoding='utf-8'?>
<widget id="org.openeobs.nfc" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>openeObs</name>
    <description>
        open-eObs for the MioCare range of devices
    </description>
    <author email="office@neovahealth.co.uk" href="http://www.neovahealth.co.uk">
        Neova Health open-eObs Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />

    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
